
@import "bootstrap";

.form-wrapper {
    text-align:center;
     margin: 0 auto;
     
     width:80%;
}

.question-content {
     margin-top: 20px;
     text-align:center;
     font-size: 20px;
    
    padding-bottom: 20px;
}
.q-forms {
    margin-top: 20px;
}

.button-wrapper {
    padding-top: 40px;
   text-align:center;
    
}

.video-wrapper {
    padding-top:20px;
    text-align:center;
}